<div>
  <h1>Order Form</h1>

  <h3>Order Details for : {{ orderId }}</h3>

  <!--
    <form [formGroup]="orderFormGroup" (ngSubmit)="handleOrderForm(orderFormGroup.value)">
      Firs Name : <input type="text" name="firstName" formControlName="firstName" /> <br />
      Last Name : <input type="text" name="lastName" formControlName="lastName" /> <br />
      <input type="submit" value="Confirm Order`" />
    </form>
  -->

  <form
    [formGroup]="orderFormGroup"
    (ngSubmit)="handleOrderForm(orderFormGroup.value)"
  >
    Order Name :
    <input type="text" name="orderName" formControlName="orderName" /> <br />
    Customer Name :
    <input type="text" name="customerName" formControlName="customerName" />
    <br />
    Delivery Date :
    <input type="text" name="deliveryDate" formControlName="deliveryDate" />
    <br />

    <div formGroupName="address">
      Street : <input type="text" formControlName="street" /> <br />
      City :
      <select formControlName="city">
        <option value="Chennai"> Chennai</option>
        <option value="Bang"> Bangalore</option>
      </select>
      <br />
      Country : <input type="text" formControlName="country" /> <br />
      Pin : <input type="text" formControlName="pin" /> <br />
    </div>

    <div>Order Items <button>Add Item</button></div>

    <input
      type="submit"
      value="Confirm Order"
      [disabled]="!orderFormGroup.valid"
    />
  </form>

  <hr />
  <button (click)="fetchOrder()">Load Orders</button>
  <h3>Order List</h3>
  <ol>
    <li *ngFor="let order of orders">
      {{ order.key }} | {{ order.customerName }} |
    </li>
  </ol>

  <hr />
  Enter Order Key : <input type="text" (change)="fetchOrderwithKey($event)" />

  <h3>Order Retrived</h3>

  <ol>
    <li *ngFor="let order of currentOrder">
      {{ order.key }} | {{ order.customerName }} |
    </li>
  </ol>
</div>
