<!-- The content below is only a placeholder and can be replaced. -->

<div style="text-align:center">
  <!--
    <h1>
        Welcome to {{ title }}!
      </h1>


    <!-- <app-stucturaldirective></app-stucturaldirective>
  -->

  <h3>Routing Testing</h3>
  <a routerLink="/home"> HOME </a> || <a routerLink="/login">LOGIN </a> ||
  <a routerLink="/order">Book Order</a> ||
  <a routerLink="/users"> User List</a> || <a routerLink="/invoice"> Invoice</a>
  
  <br />
  <hr />
  <router-outlet> </router-outlet>
</div>

<!-- <app-order-com></app-order-com> -->

<!-- <app-test></app-test> -->
