<!-- The content below is only a placeholder and can be replaced. -->

<div style="text-align:center">
  <!--
    <h1>
        Welcome to {{ title }}!
      </h1>


    <!-- <app-stucturaldirective></app-stucturaldirective>
  -->

  <!--
    <h3>Routing Testing</h3>
    <a routerLink="/home"> HOME </a> || <a routerLink="/login">LOGIN </a> ||
    <a routerLink="/order">Book Order</a> ||
    <a routerLink="/users"> User List</a> || <a routerLink="/invoice"> Invoice</a>

    <br />
    <hr />
    <router-outlet> </router-outlet>
  -->
  <!-- <app-formgroup></app-formgroup> -->
  <!-- <app-formbuilder> </app-formbuilder> -->

  <!-- <app-orderfrom></app-orderfrom> -->

  <!-- <app-pipesample></app-pipesample> -->
  <!-- <app-sampledirective></app-sampledirective> -->
  <!-- <app-templateforms></app-templateforms> -->

  <!-- <app-animations></app-animations> -->
  <!-- <app-i18nhome></app-i18nhome> -->
  <!-- <app-pipes></app-pipes> -->
  <!--
    <div>
      <app-parentstyle1> </app-parentstyle1>
      <app-sample1> </app-sample1>
    </div>
  -->
  <!--
      Application Title : <input type="text" [(ngModel)]="title" />

      <app-lfhome [parentTitle]="title">

        <app-lfabout></app-lfabout>

      </app-lfhome>
    </div>
  -->

  <!-- <app-order-com></app-order-com> -->

  <!-- <app-test></app-test> -->
  <!--
    <app-admission></app-admission>
    <p>School Details</p>
    <app-school></app-school>
  -->

  <!-- <app-samplesecurity></app-samplesecurity> -->
  <!-- <app-stdhome></app-stdhome> -->

  <button (click)="handleCustomerReg()">Customer Reg</button> ||
  <button routerLink="listcust">Customer List</button> ||

  <button (click)="handleNewOrder()">New Order</button>

  <hr />

  <router-outlet></router-outlet>

  <!-- <app-cdparent></app-cdparent> -->
  <!-- <app-zonesample> </app-zonesample> -->
</div>
